.education-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #00A1E0;
}

.education-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}

.education-main-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.education-header {
  text-align: center;
  margin-bottom: 50px;
}

.education-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1380px) {
  .education-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .education-heading {
    font-size: 30px;
  }
  .education-subtitle {
    font-size: 16px;
    line-height: normal;
  }
}
