.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 6rem;
  padding-top: 2rem;
  position: relative;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.subTitle {
  color: #706E6B !important;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: #00A1E0;
  font-weight: 700;
}

.dark-mode .greeting-text {
  color: #e8e8e8 !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

.greeting-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 500px;
}

@media (max-width: 1380px) {
  .greeting-image-div {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .greeting-image-div {
    min-height: 300px;
  }
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .greet-main {
    margin-top: 5rem;
    padding-top: 1rem;
    width: 95%;
    padding: 10px 5px;
  }
  
  .greeting-main {
    display: block;
    flex-direction: column;
  }
  
  .greeting-text-div {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .button-greeting-div {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .greeting-text {
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
  }
  
  .greeting-text-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
  }
  
  .greeting-image-div {
    width: 100%;
    min-height: 250px;
  }
  
  .mascot-decoration {
    display: none;
  }
}

@media (max-width: 480px) {
  .greet-main {
    margin-top: 4rem;
    width: 100%;
    padding: 10px;
  }
  
  .greeting-text {
    font-size: 24px;
  }
  
  .greeting-text-p {
    font-size: 14px;
  }
  
  .greeting-image-div {
    min-height: 200px;
  }
}
