.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.starup-project-image > img {
  max-width: 100%;
  height: auto;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.subTitle {
  color: #706E6B;
}

.saaya-health-div,
.nextu-div {
  cursor: pointer;
}

@media (max-width: 100%, max-height:100%) {
  .starup-project-image {
    display: none;
    max-width: 100%;
    height: auto;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
.imgSection{
  text-align: center;
}
