.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 2.8rem;
  margin-bottom: 36px;
  margin-top: 0px;
  text-align: left;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 28px;
  vertical-align: top;
  text-align: center;
}

.software-skill-inline > i {
  color: #6c757d;
  transition: color 0.3s ease;
}

.software-skill-inline > i:hover {
  color: #3498db;
  transform: scale(1.1);
}

.dark-mode .software-skill-inline > i {
  color: #adb5bd;
}

.dark-mode .software-skill-inline > i:hover {
  color: #3498db;
}

.software-skill-inline > p {
  color: #6c757d;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
  transition: color 0.3s ease;
  letter-spacing: 0.3px;
}

.dark-mode .software-skill-inline > p {
  color: #adb5bd;
}

.software-skill-inline > i:hover ~ p {
  color: #3498db;
}

.dark-mode .software-skill-inline > i:hover ~ p {
  color: #3498db;
}
