.footer-text {
  text-align: center;
  color: #706E6B !important;
  font-size: 14px;
  padding: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.dark-mode {
  color: white !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
